*{
    margin: 0%;
    padding: 0%;
}

.navigation {
    font-family: var(--font1);
    height: 74px;
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    font-size: 20px;
    display: flex;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}



.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content{
    height: 400px;
    /*background-color: rgb(175, 175, 252);*/
    display: flex;
    margin-top: 32px;
}

.content-left{
    font-family: var(--font1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img{
    height: 255px;
    border: 2px solid black;
    border-radius: 200px;
}
.content {
    height: 95px;
    /*background-color: blue;*/
}

.footer {
    height: 50px;
    /*background-color: blueviolet;*/
}